In [2]:
import numpy as np
import pandas as pd

In [3]:
movies = pd.read_csv(r"C:/Users/Pavithra I/Downloads/dataset/rotten_tomatoes_movies.csv")
credits = pd.read_csv(r"C:/Users/Pavithra I/Downloads/dataset/rotten_tomatoes_movie_reviews.csv")

In [4]:
movies.head(1)

,id,title,audienceScore,tomatoMeter,rating,ratingContents,releaseDateTheaters,releaseDateStreaming,runtimeMinutes,genre,originalLanguage,director,writer,boxOffice,distributor,soundMix
0,space-zombie-bingo,Space Zombie Bingo!,50.0,NaN,NaN,NaN,NaN,2018-08-25,75.0,"Comedy, Horror, Sci-fi",English,George Ormrod,"George Ormrod,John Sabotta",NaN,NaN,NaN

In [5]:
credits.head(1)

,id,reviewId,creationDate,criticName,isTopCritic,originalScore,reviewState,publicatioName,reviewText,scoreSentiment,reviewUrl
0,beavers,1145982,2003-05-23,Ivan M. Lincoln,False,3.5/4,fresh,Deseret News (Salt Lake City),Timed to be just long enough for most youngste...,POSITIVE,http://www.deseretnews.com/article/700003233/B...

In [6]:
merged_df = movies.merge(credits, on='id', how='inner')

# Print the columns of the merged DataFrame
print(merged_df.columns)

Index(['id', 'title', 'audienceScore', 'tomatoMeter', 'rating',
       'ratingContents', 'releaseDateTheaters', 'releaseDateStreaming',
       'runtimeMinutes', 'genre', 'originalLanguage', 'director', 'writer',
       'boxOffice', 'distributor', 'soundMix', 'reviewId', 'creationDate',
       'criticName', 'isTopCritic', 'originalScore', 'reviewState',
       'publicatioName', 'reviewText', 'scoreSentiment', 'reviewUrl'],
      dtype='object')

In [7]:
movies.head(1)

,id,title,audienceScore,tomatoMeter,rating,ratingContents,releaseDateTheaters,releaseDateStreaming,runtimeMinutes,genre,originalLanguage,director,writer,boxOffice,distributor,soundMix
0,space-zombie-bingo,Space Zombie Bingo!,50.0,NaN,NaN,NaN,NaN,2018-08-25,75.0,"Comedy, Horror, Sci-fi",English,George Ormrod,"George Ormrod,John Sabotta",NaN,NaN,NaN

In [8]:
print(movies.columns)
print(credits.columns)

Index(['id', 'title', 'audienceScore', 'tomatoMeter', 'rating',
       'ratingContents', 'releaseDateTheaters', 'releaseDateStreaming',
       'runtimeMinutes', 'genre', 'originalLanguage', 'director', 'writer',
       'boxOffice', 'distributor', 'soundMix'],
      dtype='object')
Index(['id', 'reviewId', 'creationDate', 'criticName', 'isTopCritic',
       'originalScore', 'reviewState', 'publicatioName', 'reviewText',
       'scoreSentiment', 'reviewUrl'],
      dtype='object')

In [9]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143258 entries, 0 to 143257
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    143258 non-null  object
 1   title                 142891 non-null  object
 2   audienceScore         73248 non-null   float64
 3   tomatoMeter           33877 non-null   float64
 4   rating                13991 non-null   object
 5   ratingContents        13991 non-null   object
 6   releaseDateTheaters   30773 non-null   object
 7   releaseDateStreaming  79420 non-null   object
 8   runtimeMinutes        129431 non-null  float64
 9   genre                 132175 non-null  object
 10  originalLanguage      129400 non-null  object
 11  director              139041 non-null  object
 12  writer                90116 non-null   object
 13  boxOffice             14743 non-null   object
 14  distributor           23001 non-null   object
 15  soundMix              15917 non-null   object
dtypes: float64(3), object(13)
memory usage: 17.5+ MB

In [10]:
#title
#genre
#originallanguage 
#runtime
#director
#audience score 
#releasedate

movies = movies[['title', 'audienceScore', 'tomatoMeter', 'director', 'runtimeMinutes', 'genre', 'writer', 'originalLanguage', 'releaseDateStreaming']]

In [11]:
movies.head(1)

,title,audienceScore,tomatoMeter,director,runtimeMinutes,genre,writer,originalLanguage,releaseDateStreaming
0,Space Zombie Bingo!,50.0,NaN,George Ormrod,75.0,"Comedy, Horror, Sci-fi","George Ormrod,John Sabotta",English,2018-08-25

In [12]:
print(movies.columns)

Index(['title', 'audienceScore', 'tomatoMeter', 'director', 'runtimeMinutes',
       'genre', 'writer', 'originalLanguage', 'releaseDateStreaming'],
      dtype='object')

In [13]:
movies.isnull().sum()

title                      367
audienceScore            70010
tomatoMeter             109381
director                  4217
runtimeMinutes           13827
genre                    11083
writer                   53142
originalLanguage         13858
releaseDateStreaming     63838
dtype: int64

In [14]:
movies = movies[['title', 'audienceScore', 'tomatoMeter', 'director', 'runtimeMinutes', 'genre', 'writer', 'originalLanguage', 'releaseDateStreaming']].copy()

movies = movies.dropna()

In [15]:
print(movies.head())

                                              title  audienceScore  \
5                                            Adrift           65.0
9                                      Born to Kill           74.0
13  Leap of Faith: William Friedkin on The Exorcist           86.0
22                             Escape From Alcatraz           85.0
49                                            Salty           38.0

    tomatoMeter               director  runtimeMinutes  \
5          69.0      Baltasar Kormákur           120.0
9          83.0            Robert Wise            92.0
13         93.0  Alexandre O. Philippe           104.0
22         97.0             Don Siegel           107.0
49          0.0             Simon West            86.0

                                genre  \
5           Adventure, Drama, Romance
9                        Crime, Drama
13    Documentary, Mystery & thriller
22  Mystery & thriller, Drama, Action
49                     Comedy, Action

                                              writer  \
5   Aaron Kandell,Jordan Kandell,David Branson Smith
9                        Eve Greene,Richard Macaulay
13                             Alexandre O. Philippe
22                                    Richard Tuggle
49                    Toby Davies,Mark Haskell Smith

            originalLanguage releaseDateStreaming
5                    English           2018-08-21
9                    English           2016-05-23
13                   English           2020-11-19
22                   English           1999-03-09
49  English (United Kingdom)           2017-11-07

In [16]:
print("Shape:", movies.shape)

Shape: (22203, 9)

In [17]:
print(movies.isnull().sum())

title                   0
audienceScore           0
tomatoMeter             0
director                0
runtimeMinutes          0
genre                   0
writer                  0
originalLanguage        0
releaseDateStreaming    0
dtype: int64

In [18]:
movies.to_csv("cleaned_movies.csv", index=False)

In [19]:
movies.duplicated().sum()

207

In [20]:
movies.drop_duplicates(inplace=True)

In [21]:
print("Remaining rows after dropping duplicates:", movies.shape[0])

Remaining rows after dropping duplicates: 21996

In [22]:
movies.iloc[0].genre

'Adventure, Drama, Romance'

In [23]:
movies['genre'] = movies['genre'].apply(lambda x: [g.strip() for g in x.split(',')])

In [24]:
print(movies.iloc[0]['genre'])

['Adventure', 'Drama', 'Romance']

In [25]:
movies['tags'] = movies['genre'].apply(lambda x: ' '.join(x)) + " " + \
                 movies['director'] + " " + \
                 movies['writer'] + " " + \
                 movies['originalLanguage']

In [26]:
print(movies[['title', 'tags']].head())

                                              title  \
5                                            Adrift
9                                      Born to Kill
13  Leap of Faith: William Friedkin on The Exorcist
22                             Escape From Alcatraz
49                                            Salty

                                                 tags
5   Adventure Drama Romance Baltasar Kormákur Aaro...
9   Crime Drama Robert Wise Eve Greene,Richard Mac...
13  Documentary Mystery & thriller Alexandre O. Ph...
22  Mystery & thriller Drama Action Don Siegel Ric...
49  Comedy Action Simon West Toby Davies,Mark Hask...

In [27]:
print(movies['tags'].isna().sum())

0

In [28]:
print(movies['tags'].iloc[0])

Adventure Drama Romance Baltasar Kormákur Aaron Kandell,Jordan Kandell,David Branson Smith English

In [29]:
movies['tags'].apply(lambda x: x.lower())

5         adventure drama romance baltasar kormákur aaro...
9         crime drama robert wise eve greene,richard mac...
13        documentary mystery & thriller alexandre o. ph...
22        mystery & thriller drama action don siegel ric...
49        comedy action simon west toby davies,mark hask...
                                ...
143203             action eric karson leigh chapman english
143205    adventure comedy drama lena dunham lena dunham...
143213    mystery & thriller mike burns bill lawrence en...
143236    documentary ron mann charles lippincott,ron ma...
143250      holiday comedy josh schwartz max werner english
Name: tags, Length: 21996, dtype: object

In [30]:
movies.head(1)

,title,audienceScore,tomatoMeter,director,runtimeMinutes,genre,writer,originalLanguage,releaseDateStreaming,tags
5,Adrift,65.0,69.0,Baltasar Kormákur,120.0,"[Adventure, Drama, Romance]","Aaron Kandell,Jordan Kandell,David Branson Smith",English,2018-08-21,Adventure Drama Romance Baltasar Kormákur Aaro...

In [31]:
movies = movies.reset_index(drop=True)

In [32]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000, stop_words='english')

In [33]:
vector = cv.fit_transform(movies['tags']).toarray()

In [34]:
vector.shape

(21996, 5000)

In [35]:
from sklearn.metrics.pairwise import cosine_similarity

In [36]:
similarity = cosine_similarity(vector)

In [37]:
similarity

array([[1.        , 0.21081851, 0.09128709, ..., 0.12909944, 0.09534626,
        0.11952286],
       [0.21081851, 1.        , 0.09622504, ..., 0.13608276, 0.10050378,
        0.12598816],
       [0.09128709, 0.09622504, 1.        , ..., 0.35355339, 0.17407766,
        0.10910895],
       ...,
       [0.12909944, 0.13608276, 0.35355339, ..., 1.        , 0.12309149,
        0.15430335],
       [0.09534626, 0.10050378, 0.17407766, ..., 0.12309149, 1.        ,
        0.11396058],
       [0.11952286, 0.12598816, 0.10910895, ..., 0.15430335, 0.11396058,
        1.        ]])

In [38]:
print(movies['title'].str.contains('Lego', case=False).sum())
print(movies[movies['title'].str.contains('Lego', case=False)])

6
                                   title  audienceScore  tomatoMeter  \
1545   The LEGO Movie 2: The Second Part           68.0         84.0
10247              The LEGO Batman Movie           80.0         90.0
12325    LEGO Star Wars Terrifying Tales           65.0        100.0
14231             The LEGO NINJAGO Movie           46.0         55.0
14783                     The LEGO Movie           87.0         96.0
19571               A LEGO Brickumentary           64.0         55.0

                                 director  runtimeMinutes  \
1545                        Mike Mitchell           107.0
10247                         Chris McKay           106.0
12325                      Ken Cunningham            44.0
14231  Charlie Bean,Paul Fisher,Bob Logan           101.0
14783              Phil Lord,Chris Miller            95.0
19571          Daniel Junge,Kief Davidson            92.0

                                                   genre  \
1545   [Kids & family, Comedy, Adventure, Action, Ani...
10247  [Kids & family, Comedy, Adventure, Action, Ani...
12325  [Action, Adventure, Animation, Kids & family, ...
14231  [Kids & family, Comedy, Adventure, Action, Ani...
14783      [Kids & family, Comedy, Adventure, Animation]
19571                                      [Documentary]

                                                  writer originalLanguage  \
1545                              Phil Lord,Chris Miller          English
10247  Seth Grahame-Smith,Chris McKenna,Erik Sommers,...          English
12325                                       David Shayne          English
14231  Bob Logan,Paul Fisher,William Wheeler,Tom Whee...          English
14783                             Phil Lord,Chris Miller          English
19571            Daniel Junge,Davis Coombe,Kief Davidson          English

      releaseDateStreaming                                               tags
1545            2019-05-07  Kids & family Comedy Adventure Action Animatio...
10247           2017-06-13  Kids & family Comedy Adventure Action Animatio...
12325           2021-10-01  Action Adventure Animation Kids & family Sci-f...
14231           2017-12-19  Kids & family Comedy Adventure Action Animatio...
14783           2014-06-17  Kids & family Comedy Adventure Animation Phil ...
19571           2015-11-03  Documentary Daniel Junge,Kief Davidson Daniel ...

In [39]:
def recommend(movie):
    index = movies[movies['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])
    for i in distances[1:6]:
        print(movies.iloc[i[0]].title)

In [40]:
recommend('Final Destination')

Final Destination 3
The One
Dead Awake
Day of the Dead
Strange Nature

In [41]:
import pickle

In [42]:

pickle.dump(movies, open('movie_list.pkl', 'wb'))
pickle.dump(similarity, open('similarity.pkl', 'wb'))